@page
@model Poller.Pages.Poll.Index

@{
    ViewData["Title"] = "Home page";
}

My polls

<ul>
    @foreach (var poll in Model.MyPolls)
    {
        <li>
            @poll.Title <a href="@Url.Page("Details", new {poll.Id})">Go</a> <a href="@Url.Page("Edit", new {poll.Id})">Edit</a>
        </li>
    }
</ul>


<a class="btn btn-primary" href="@Url.Page("Create")">New Poll</a>