@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please <a class="text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a> or <a class="text-dark" asp-area="Identity" asp-page="/Account/Register">create an account</a> to start.</p>
</div>
